<?xml version="1.0" encoding="utf-8"?>
<GitSccOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <GitBashPath>C:\Program Files\Git\bin\git.exe</GitBashPath>
  <DifftoolPath>diffmerge.exe</DifftoolPath>
  <NotExpandTortoiseGit>false</NotExpandTortoiseGit>
  <NotExpandGitExtensions>false</NotExpandGitExtensions>
  <UseTGitIconSet>false</UseTGitIconSet>
  <DisableAutoRefresh>false</DisableAutoRefresh>
  <DisableAutoLoad>false</DisableAutoLoad>
  <NotUseUTF8FileNames>false</NotUseUTF8FileNames>
  <UseVsDiff>true</UseVsDiff>
</GitSccOptions>